<header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom justify-content-center">
    <ul class="nav mb-2 justify-content-center mb-md-0">
      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/84/60/da/8460da29-1ee8-71ed-2481-a196df1abcb5/AppIcon-1x_U007emarketing-0-7-0-85-220-0.png/512x512bb.jpg" width="40" height="40">
      <li class="mx-2"><a href="#" class="btn btn-outline-danger">Commande en cours</a></li>
      <li class="mx-2"><button type="button" class="btn btn-outline-danger">Commander</button></li>
    </ul>
  </header>
